# Python
__pycache__/
*.py[cod]
*.egg-info/

# venv
venv/
ENV/
env/
.venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Ignorar videos y archivos grandes
*.mp4
*.avi
*.mov
*.zip
*.rar