
{% extends "index.html" %}

{% block content %}
<!-- 💬 BOTÓN WHATSAPP FLOTANTE -->
<div id="whatsapp-float-container">
    <a href="https://api.whatsapp.com/send?phone=51940414440&text=¡Hola! 👋 Estoy interesado en una COTIZACIÓN con Copier Mundo."
       class="whatsapp-flotante" target="_blank" title="Estamos en línea">
        <img src="{{ url_for('static', path='img/icons/whatsapp-1.png') }}" alt="WhatsApp"/>
        <!-- 🟢 Estado en línea con animación -->
        <div class="estado-linea">
            <span class="punto-verde"></span>
            En línea
        </div>

        <!-- Texto principal -->
        <span>Solicitar <strong>COTIZACIÓN</strong></span>
    </a>
</div>

<!-- Header with background image and text -->
<div class="text-center my-0 banner-consumibles-wrapper">
    <img alt="Impresora en fondo oscuro con pantalla y bandejas" class="img-fluid banner-consumibles" alt="Consumibles" src="{{ url_for('static', path='img/productos-tuners/Cinta-toneres-konica-minolta-1.jpg') }}"/>

    <!-- Burbujas Temáticas -->
    <div class="burbujas">
        <span class="b1"></span>
        <span class="b2"></span>
        <span class="b3"></span>
        <span class="b4"></span>
        <span class="b5"></span>
        <span class="b6"></span>
        <span class="b7"></span>
        <span class="b8"></span>
        <span class="b9"></span>
        <span class="b10"></span>
    </div>

    <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-10 flex items-center justify-between px-6 sm:px-10 md:px-16">
        <h1 class="text-white text-xl sm:text-2xl md:text-3xl font-normal">
            PRODUCTOS TONERES
        </h1>
        <a class="text-white text-xs sm:text-sm md:text-base flex items-center gap-1 hover:underline" href="/productos/fotocopiadoras">
            <i class="fas fa-chevron-left text-xs">
            </i>
            Volver a página anterior
        </a>
    </div>
</div>



<main class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 py-6">
    <div class="flex flex-col md:flex-row md:space-x-8">
        <!-- Left sidebar -->
        <aside class="w-full md:w-64 border-r border-gray-300 pb-6">
            <div class="flex items-center justify-between mb-4">
                <h2 class="font-semibold text-sm sm:text-base uppercase">
                    BÚSQUEDA DE PRODUCTOS
                </h2>
                <div class="border-b border-gray-300 w-12">
                </div>
            </div>
            <div>
                <button aria-expanded="true" class="flex items-center justify-between w-full text-xs sm:text-sm font-normal text-gray-700 uppercase mb-2" type="button">
                    <span>
                        SECCION DE CATEGORIAS
                    </span>
                    <span class="text-2xl leading-none select-none">
                        −
                    </span>
                </button>
                <ul class="text-xs sm:text-sm font-normal text-gray-500 border-t border-b border-gray-300 divide-y divide-gray-300">
                    <a href="/productos/fotocopiadoras">
                        <li class="flex items-center justify-between py-2 px-2 hover:text-gray-700 cursor-pointer">
                            <span class="flex items-center gap-2">
                                <i class="fas fa-chevron-right text-xs">
                                </i>
                                IMPRESORAS MULTIFUNCIONALES NUEVAS
                            </span>
                            <span class="text-gray-400">
                                (16)
                            </span>
                        </li>
                    </a>
                    <a href="/productos/fotocopiadoras/impresoras-seminuevas">
                        <li class="flex items-center justify-between py-2 px-2 hover:text-gray-700 cursor-pointer">
                            <span class="flex items-center gap-2">
                                <i class="fas fa-chevron-right text-xs">
                                </i>
                                IMPRESORAS MULTIFUNCIONALES SEMINUEVAS
                            </span>
                            <span class="text-gray-400">
                                (7)
                            </span>
                        </li>
                    </a>
                    <a href="/productos/fotocopiadoras/impresoras-seminuevas-series-8">
                        <li class="flex items-center justify-between py-2 px-2 hover:text-gray-700 cursor-pointer">
                            <span class="flex items-center gap-2">
                                <i class="fas fa-chevron-right text-xs">
                                </i>
                                IMPRESORAS MULTIFUNCIONALES SEMINUEVAS-SERIES(8)
                            </span>
                            <span class="text-gray-400">
                                (5)
                            </span>
                        </li>
                    </a>
                    
                    <a href="/productos/fotocopiadoras/impresoras-color">
                        <li class="flex items-center justify-between py-2 px-2 hover:text-gray-700 cursor-pointer">
                            <span class="flex items-center gap-2">
                                <i class="fas fa-chevron-right text-xs">
                                </i>
                                IMPRESORAS A COLOR
                            </span>
                            <span class="text-gray-400">
                                (4)
                            </span>
                        </li>
                    </a>
                    <a href="/productos/fotocopiadoras/impresoras-monocromaticas">
                        <li class="flex items-center justify-between py-2 px-2 hover:text-gray-700 cursor-pointer">
                            <span class="flex items-center gap-2">
                                <i class="fas fa-chevron-right text-xs">
                                </i>
                                IMPRESORAS MONOCROMÁTICAS
                            </span>
                            <span class="text-gray-400">
                                (4)
                            </span>
                        </li>
                    </a>
                    <a href="/productos/accesoriosoficina">
                        <li class="flex items-center justify-between py-2 px-2 hover:text-gray-700 cursor-pointer">
                            <span class="flex items-center gap-2">
                                <i class="fas fa-chevron-right text-xs">
                                </i>
                                ACCESORIOS DE OFICINA
                            </span>
                            <span class="text-gray-400">
                                (8)
                            </span>
                        </li>
                    </a>
                    <a href="/productos/tonerescartuchos">
                        <li class="flex items-center justify-between py-2 px-2 hover:text-gray-700 cursor-pointer">
                            <span class="flex items-center gap-2">
                                <i class="fas fa-chevron-right text-xs">
                                </i>
                                RECARGAS TONERS Y CARTUCHOS
                            </span>
                            <span class="text-gray-400">
                                (4)
                            </span>
                        </li>
                    </a>
                </ul>
            </div>

            <div class="mb-8">
            </div>

            <!-- Filtro de precio dentro del <aside> -->
            <div class="mt-4">
                <h3 class="text-md font-semibold mb-2">Filtrar por precio</h3>
                <form id="precio-form" class="space-y-2" method="get" action="/productos/filtro-precios-toners">
                    <input type="hidden" name="categoria" value="{{ categoria }}"> <!-- aumente este codigo-->
                    <input type="number" name="min" placeholder="Precio mínimo" class="pl-6 pr-2 px-3 py-1 w-60 border rounded-md focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-sm" value="{{ min }}" />
                    <input type="number" name="max" placeholder="Precio máximo" class="pl-6 pr-2 px-3 py-1 w-60 border rounded-md focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-sm" value="{{ max }}"/>
                    <button type="submit" class="bg-blue-600 text-white px-3 py-1 rounded w-60 hover:bg-blue-700">
                        Filtrar
                    </button>
                </form>
            </div>

            <div class="mb-8">
            </div>

            <div>
                <h3 class="text-xs font-bold uppercase mb-1 border-b border-gray-300 pb-2 font-semibold text-sm sm:text-base uppercase">
                    PRODUCTOS VISTOS
                </h3>
                <ul class="space-y-6 text-xs">
                    <li class="flex gap-2">
                        <img alt="Impresora Bizhub 300i monocromática vista pequeña" class="w-10 h-15 object-contain" height="60" src="{{ url_for('static', path='img/productos-fotocopiadoras/bizhub-c266i.jpg') }}" width="40"/>
                        <div>
                            <p>
                                Bizhub c266i: MULTIFUNCIONAL MONOCROMÁTICO PARA GRUPOS DE TRABAJO
                            </p>
                            <p class="text-blue-700 mt-1">
                                S/ 18,149.46
                            </p>
                        </div>
                    </li>
                    <li class="flex gap-2">
                        <img alt="Impresora Bizhub 300i monocromática vista pequeña" class="w-10 h-15 object-contain" height="60" src="{{ url_for('static', path='img/productos-fotocopiadoras/bizhub-c3321i.jpg') }}" width="40"/>
                        <div>
                            <p>
                                Bizhub-C3321i: IMPRESORA MONOCROMÁTICA DE ALTA VELOCIDAD PARA GRUPOS
                                DE TRABAJO  
                            </p>
                            <p class="text-blue-700 mt-1">
                                S/ 7,925.40
                            </p>
                        </div>
                    </li>

                    <li class="flex gap-2">
                        <img alt="Impresora Bizhub 360i monocromática vista pequeña" class="w-10 h-15 object-contain" height="60" src="https://storage.googleapis.com/a1aa/image/90bae295-9001-4e53-4fd7-936b12ff77ae.jpg" width="40"/>
                        <div>
                            <p>
                                BIZHUB 360I: MULTIFUNCIONAL MONOCROMÁTICO PARA GRUPOS DE TRABAJO
                            </p>
                            <p class="text-blue-700 mt-1">
                                S/ 28,427.69
                            </p>
                        </div>
                    </li>
                    <li class="flex gap-2">
                        <img alt="Impresora Bizhub 360i monocromática vista pequeña" class="w-10 h-15 object-contain" height="60" src="{{ url_for('static', path='img/productos-fotocopiadoras/bizhub-185en.jpg') }}" width="40"/>
                        <div>
                            <p>
                                Bizhub 185en: MULTIFUNCIONAL MONOCROMÁTICO PARA GRUPOS DE TRABAJO
                            </p>
                            <p class="text-blue-700 mt-1">
                                $ 3,940.50
                            </p>
                        </div>
                    </li>
                    <li class="flex gap-2">
                        <img alt="Impresora Bizhub 360i monocromática vista pequeña" class="w-10 h-15 object-contain" height="60" src="{{ url_for('static', path='img/productos-fotocopiadoras/bizhub-c451i.jpg') }}" width="40"/>
                        <div>
                            <p>
                                Bizhub c451i: MULTIFUNCIONAL MONOCROMÁTICO PARA GRUPOS DE TRABAJO
                            </p>
                            <p class="text-blue-700 mt-1">
                                $ 35,501.50
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>

        <!-- Right content -->
        <section class="flex-1">
            <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between border-b border-gray-300 pb-4 mb-4">
                <div class="flex items-center space-x-2 mb-3 sm:mb-0">
                    <select aria-label="Ordenar productos" class="border border-gray-300 rounded px-3 py-1 text-xs sm:text-sm">
                        <option>
                            Orden predeterminado
                        </option>
                    </select>
                    <button aria-label="Vista en cuadrícula" class="border border-gray-300 p-2 text-xs sm:text-sm">
                        <i class="fas fa-th">
                        </i>
                    </button>
                    <button aria-label="Vista en lista" class="border border-gray-300 p-2 text-xs sm:text-sm">
                        <i class="fas fa-list">
                        </i>
                    </button>
                </div>
                <nav aria-label="Paginación" class="flex items-center space-x-2 text-xs sm:text-sm text-gray-700">
                    <button aria-current="page" class="bg-black text-white px-3 py-1" disabled="">
                        1
                    </button>
                    <button class="hover:underline px-1">
                        2
                    </button>
                    <span>
                        ..
                    </span>
                    <button class="hover:underline px-1">
                        5
                    </button>
                    <button aria-label="Siguiente página" class="px-1">
                        <i class="fas fa-angle-double-right">
                        </i>
                    </button>
                </nav>
            </div>

            <!-- Desde aqui son los productos que hay para todo tipo de toneres y cartuchos -->

            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-10 grid-left-adjust">

                <!-- Seccion de productos de Cartuchos y recargas toners -->

                <article class="text-center text-xs sm:text-sm producto-card">
                    <button onclick="mostrarDetallesProducto(
                        'KONICA MINOLTA BIZHUB-C3320I TNP-80K ORIGINAL.',
                        'El tóner original Konica Minolta TNP-80 es un consumible diseñado para la impresora multifuncional a color bizhub C3320i. A continuación, se detallan las especificaciones y características de los cartuchos TNP-80 en sus diferentes colores.',
                        'img/productos-tuners/Toner-negro-cartucho.jpeg',
                        'S/ 333.00',
                        `MARCA: Konica Minolta. MODELO: TNP-80k. 
                        COLOR: Negro. Condición: Nuevo. Codigo: Aajw192. Compatibilidad: Bizhub C-3320I. Rendimiento: 13,500 páginas.`,
                        '/static/pdf/pdf-toners/Toner-negro-TNP-80K.pdf'
                        )">
                        <!-- Imagen con overlay dinámico -->
                        <div class="producto-imagen-toner-negro">
                            <img src="{{ url_for('static', path='img/productos-tuners/Toner-negro-cartucho.jpeg') }}" alt="Producto" class="w-full h-48 object-contain cursor-pointer"/>
                            <!-- Overlay que aparece al pasar -->
                            <div class="overlay-whatsapp-toneres">
                                <span class="estado-en-linea">En línea</span>
                                <a href="https://api.whatsapp.com/send?phone=51940414440&text=¡Hola! Quiero cotizar la Toner negro TNP-80K de Copier Mundo."
                                class="btn-whatsapp-overlay" target="_blank">
                                    <i class="fab fa-whatsapp"></i> Solicitar cotización
                                </a>
                            </div>
                        </div>
                    </button>
                    <!-- Nombre y precio -->
                    <div class="mt-2">
                        <span class="nombre-producto-toneres">Toner bizhub-C3320I TNP-80k</span>
                    </div>

                    <p class="mt-2 text-gray-700">
                        
                    </p>

                    <p class="font-bold text-base sm:text-lg"></p>

                    <button onclick="mostrarDetallesProducto(
                      'KONICA MINOLTA BIZHUB-C3320I TNP-80K ORIGINAL.',
                      'El tóner original Konica Minolta TNP-80 es un consumible diseñado para la impresora multifuncional a color bizhub C3320i. A continuación, se detallan las especificaciones y características de los cartuchos TNP-80 en sus diferentes colores.',
                      'img/productos-tuners/Toner-negro-cartucho.jpeg',
                      'S/ 333.00',
                      `MARCA: Konica Minolta. MODELO: TNP-80k. 
                        COLOR: Negro. Condición: Nuevo. Codigo: Aajw192. Compatibilidad: Bizhub C-3320I. Rendimiento: 13,500 páginas.`,
                      '/static/pdf/pdf-toners/Toner-negro-TNP-80K.pdf'
                        )" class="btn-detalles bg-red-600 text-white font-semibold px-4 py-2 rounded-full hover:bg-blue-700 transition" id="Toner-negro-TNP-80K" >Ver detalles
                    </button>
                </article>

                <article class="text-center text-xs sm:text-sm producto-card">
                    <button onclick="mostrarDetallesProducto(
                        'KONICA MINOLTA BIZHUB-367 TN-323 ORIGINAL.',
                        'El tóner Konica Minolta TN-323 es un cartucho negro para la Bizhub 367, Bizhub 227 y 287, con una tecnología de impresión láser monocromática y un rendimiento de hasta 23,000 páginas con una cobertura del 5%.',
                        'img/productos-tuners/Toner-konica-minolta-bizhub-367-tn-323.jpg',
                        'S/ 370.00',
                        `MARCA: Konica Minolta. MODELO: TNP-323. COLOR: Negro. Codigo de Fabricante: A87M090. Tecnologia de Impresión: Láser monocromática. Rendimiento: Hasta 23,000 páginas(con cobertura del 5%). Compatibilidad: Konica Minolta Bizhub 227,287 y 367. Tipo de Cartucho: Tóner original.`,
                        '/static/pdf/pdf-toners/Toner-negro-tn-323.pdf'
                        )">
                        <!-- Imagen con overlay dinámico -->
                        <div class="producto-imagen-toner-negro-323">
                            <img src="{{ url_for('static', path='img/productos-tuners/Toner-konica-minolta-bizhub-367-tn-323.jpg') }}" alt="Producto" class="w-full h-48 object-contain cursor-pointer"/>
                            <!-- Overlay que aparece al pasar -->
                            <div class="overlay-whatsapp-toneres">
                                <span class="estado-en-linea">En línea</span>
                                <a href="https://api.whatsapp.com/send?phone=51940414440&text=¡Hola! Quiero cotizar la Toner negro Toner konica minolta bizhub 367 tn-323 de Copier Mundo."
                                class="btn-whatsapp-overlay" target="_blank">
                                    <i class="fab fa-whatsapp"></i> Solicitar cotización
                                </a>
                            </div>
                        </div>
                    </button>
                    <!-- Nombre y precio -->
                    <div class="mt-2">
                        <span class="nombre-producto-toneres">Toner km bizhub-367 tn-323</span>
                    </div>

                    <p class="mt-2 text-gray-700">
                        
                    </p>

                    <p class="font-bold text-base sm:text-lg"></p>

                    <button onclick="mostrarDetallesProducto(
                      'KONICA MINOLTA BIZHUB-367 TN-323 ORIGINAL.',
                        'El tóner Konica Minolta TN-323 es un cartucho negro para la Bizhub 367, Bizhub 227 y 287, con una tecnología de impresión láser monocromática y un rendimiento de hasta 23,000 páginas con una cobertura del 5%.',
                        'img/productos-tuners/Toner-konica-minolta-bizhub-367-tn-323.jpg',
                        'S/ 370.00',
                        `MARCA: Konica Minolta. MODELO: TNP-323. COLOR: Negro. Codigo de Fabricante: A87M090. Tecnologia de Impresión: Láser monocromática. Rendimiento: Hasta 23,000 páginas(con cobertura del 5%). Compatibilidad: Konica Minolta Bizhub 227,287 y 367. Tipo de Cartucho. Tóner original.`,
                        '/static/pdf/pdf-toners/Toner-negro-tn-323.pdf'
                        )" class="btn-detalles bg-red-600 text-white font-semibold px-4 py-2 rounded-full hover:bg-blue-700 transition" id="Toner-negro-tn-323" >Ver detalles
                    </button>
                </article>

                <article class="text-center text-xs sm:text-sm producto-card">
                    <button onclick="mostrarDetallesProducto(
                        'KONICA MINOLTA KYOCERA TONER TK-1175 ORIGINAL.',
                        'El tóner Kyocera TK-1175 es un cartucho de tóner monocromático original diseñado para impresoras láser Kyocera ECOSYS de alto rendimiento, ideal para oficinas y empresas con grandes volúmenes de impresión.',
                        'img/productos-tuners/Toner-Kyocera-TK-1175-negro.jpg',
                        'S/ 333.00',
                        `MARCA: Kyocera. MODELO: TK-1175. 
                        Color de Impresión: Negro. Tecnología de Impresión: Láser. Rendimiento: Aproximadamente 12.000páginas, basado en una cobertura del 5% de papel A4. Tipo: Cartucho original de la marca kyocera.`,
                        '/static/pdf/pdf-toners/Toner-Kyocera-TK-1175-negro.pdf'
                        )">
                        <!-- Imagen con overlay dinámico -->
                        <div class="producto-imagen-toner-kyocera-negro">
                            <img src="{{ url_for('static', path='img/productos-tuners/Toner-Kyocera-TK-1175-negro.jpg') }}" alt="Producto" class="w-full h-48 object-contain cursor-pointer"/>
                            <!-- Overlay que aparece al pasar -->
                            <div class="overlay-whatsapp-toneres">
                                <span class="estado-en-linea">En línea</span>
                                <a href="https://api.whatsapp.com/send?phone=51940414440&text=¡Hola! Quiero cotizar la Toner Kyocera TK-1175 negro de Copier Mundo."
                                class="btn-whatsapp-overlay" target="_blank">
                                    <i class="fab fa-whatsapp"></i> Solicitar cotización
                                </a>
                            </div>
                        </div>
                    </button>
                    <!-- Nombre y precio -->
                    <div class="mt-2">
                        <span class="nombre-producto-toneres">Toner Kyocera TK-1175 negro</span>
                    </div>

                    <p class="mt-2 text-gray-700">
                        
                    </p>

                    <p class="font-bold text-base sm:text-lg"></p>

                    <button onclick="mostrarDetallesProducto(
                      'KONICA MINOLTA KYOCERA TONER TK-1175 ORIGINAL.',
                        'El tóner Kyocera TK-1175 es un cartucho de tóner monocromático original diseñado para impresoras láser Kyocera ECOSYS de alto rendimiento, ideal para oficinas y empresas con grandes volúmenes de impresión.',
                        'img/productos-tuners/Toner-Kyocera-TK-1175-negro.jpg',
                        'S/ 333.00',
                        `MARCA: Kyocera. MODELO: TK-1175. 
                        Color de Impresión: Negro. Tecnología de Impresión: Láser. Rendimiento: Aproximadamente 12.000páginas, basado en una cobertura del 5% de papel A4. Tipo: Cartucho original de la marca kyocera.`,
                        '/static/pdf/pdf-toners/Toner-Kyocera-TK-1175-negro.pdf'
                        )" class="btn-detalles bg-red-600 text-white font-semibold px-4 py-2 rounded-full hover:bg-blue-700 transition" id="Toner-Kyocera-TK-1175-negro" >Ver detalles
                    </button>
                </article>

                <article class="text-center text-xs sm:text-sm producto-card">
                    <button onclick="mostrarDetallesProducto(
                        'KONICA MINOLTA BH-215 TONER TN-118 BLANCO Y NEGRO COMPATIBILIDAD.',
                        'TONER ORIGINAL de máxima calidad para la impresora Konica Minolta, modelo bizhub 215 TN-118 Blanco y Negro de color Negro con capacidad de 12.000 páginas.',
                        'img/productos-tuners/Toner-km-bizhub-226-215-tn-118-negro.jpg',
                        'S/ 370.00',
                        `MARCA: Konica Minolta. MODELO: TN-118. 
                        COLOR: Negro. Material: Cartucho de Toner. Serie: A3VW030. SKU: A3VW030 Fabricante: Konica Minolta Holdings.Presentación del Producto: Original. Pais de Origen: Japón. Ancho: 30cm. Altura: 8cm. Profundidad: 14cm. Peso: 200g.`,
                        '/static/pdf/pdf-toners/Toner-km-bizhub-226-215-tn-118-negro.pdf'
                        )">
                        <!-- Imagen con overlay dinámico -->
                        <div class="producto-imagen-toner-tn-118-negro">
                            <img src="{{ url_for('static', path='img/productos-tuners/Toner-km-bizhub-226-215-tn-118-negro.jpg') }}" alt="Producto" class="w-full h-48 object-contain cursor-pointer"/>
                            <!-- Overlay que aparece al pasar -->
                            <div class="overlay-whatsapp-toneres">
                                <span class="estado-en-linea">En línea</span>
                                <a href="https://api.whatsapp.com/send?phone=51940414440&text=¡Hola! Quiero cotizar la konica minolta Toner tn118-negro de Copier Mundo."
                                class="btn-whatsapp-overlay" target="_blank">
                                    <i class="fab fa-whatsapp"></i> Solicitar cotización
                                </a>
                            </div>
                        </div>
                    </button>
                    <!-- Nombre y precio -->
                    <div class="mt-2">
                        <span class="nombre-producto-toneres">Toner TN-118 blanco y negro</span>
                    </div>

                    <p class="mt-2 text-gray-700">
                        
                    </p>

                    <p class="font-bold text-base sm:text-lg"></p>

                    <button onclick="mostrarDetallesProducto(
                      'KONICA MINOLTA BH-215 TONER TN-118 BLANCO Y NEGRO COMPATIBILIDAD.',
                        'TONER ORIGINAL de máxima calidad para la impresora Konica Minolta, modelo bizhub 215 TN-118 Blanco y Negro de color Negro con capacidad de 12.000 páginas.',
                        'img/productos-tuners/Toner-km-bizhub-226-215-tn-118-negro.jpg',
                        'S/ 370.00',
                        `MARCA: Konica Minolta. MODELO: TN-118. 
                        COLOR: Negro. Material: Cartucho de Toner. Serie: A3VW030. SKU: A3VW030 Fabricante: Konica Minolta Holdings.Presentación del Producto: Original. Pais de Origen. Japón. Ancho: 30cm. Altura: 8cm. Profundidad: 14cm. Peso: 200g.`,
                        '/static/pdf/pdf-toners/Toner-km-bizhub-226-215-tn-118-negro.pdf'
                        )" class="btn-detalles bg-red-600 text-white font-semibold px-4 py-2 rounded-full hover:bg-blue-700 transition" id="Toner-km-bizhub-226-215-tn-118-negro" >Ver detalles
                    </button>
                </article>

                <article class="text-center text-xs sm:text-sm producto-card">
                    <button onclick="mostrarDetallesProducto(
                        'TONER NEGRO MODELO TN-328K RENDIMIENTO 28K PARA KONICA MINOLTA BIZHUB bh C360i (AAV8130).',
                        'TONER ORIGINAL de máxima calidad para la impresora Konica Minolta, modelo bizhub C360i de color Negro con capacidad de 28.000 páginas.',
                        'img/productos-tuners/Toner-km-tn328k.jpg',
                        'S/ 235.00',
                        `MARCA: Konica Minolta. MODELO: TN-328K. 
                        COLOR: Negro. Material: Cartucho de Toner. Serie: SAAV8130. SKU: SAAV8130. Frabricante: Konica Minolta Holdings. Presentación del Producto: Original. Pais Origen: Japón. Ancho: 30cm. Altura: 6cm. Profundidad: 14cm. Peso: 600g.`,
                        '/static/pdf/pdf-toners/Toner-km-tn328k.pdf'
                        )">
                        <!-- Imagen con overlay dinámico -->
                        <div class="producto-imagen-toner-tn-328k-negro">
                            <img src="{{ url_for('static', path='img/productos-tuners/Toner-km-tn328k.jpg') }}" alt="Producto" class="w-full h-48 object-contain cursor-pointer"/>
                            <!-- Overlay que aparece al pasar -->
                            <div class="overlay-whatsapp-toneres">
                                <span class="estado-en-linea">En línea</span>
                                <a href="https://api.whatsapp.com/send?phone=51940414440&text=¡Hola! Quiero cotizar la Toner konica minolta tn-328k de Copier Mundo."
                                class="btn-whatsapp-overlay" target="_blank">
                                    <i class="fab fa-whatsapp"></i> Solicitar cotización
                                </a>
                            </div>
                        </div>
                    </button>
                    <!-- Nombre y precio -->
                    <div class="mt-2">
                        <span class="nombre-producto-toneres">Toner bizhub-C3320I TNP-80k</span>
                    </div>

                    <p class="mt-2 text-gray-700">
                        
                    </p>

                    <p class="font-bold text-base sm:text-lg"></p>

                    <button onclick="mostrarDetallesProducto(
                      'TONER NEGRO MODELO TN-328K RENDIMIENTO 28K PARA KONICA MINOLTA BIZHUB bh C360i (AAV8130).',
                        'TONER ORIGINAL de máxima calidad para la impresora Konica Minolta, modelo bizhub C360i de color Negro con capacidad de 28.000 páginas.',
                        'img/productos-tuners/Toner-km-tn328k.jpg',
                        'S/ 235.00',
                        `MARCA: Konica Minolta. MODELO: TN-328K. 
                        COLOR: Negro. Material: Cartucho de Toner. Serie: SAAV8130. SKU: SAAV8130. Frabricante: Konica Minolta Holdings. Presentación del Producto: Original. Pais Origen: Japón. Ancho: 30cm. Altura: 6cm. Profundidad: 14cm. Peso: 600g.`,
                        '/static/pdf/pdf-toners/Toner-km-tn328k.pdf'
                        )" class="btn-detalles bg-red-600 text-white font-semibold px-4 py-2 rounded-full hover:bg-blue-700 transition" id="Toner-km-tn328k" >Ver detalles
                    </button>
                </article>
                
            </div>
        </section>
    </div>
</main>

{% endblock %}